---
name: CI
permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build-windows:
    name: Windows
    uses: ./.github/workflows/ci-windows.yml
